@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

hr {
  margin-top: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.proj_bg {
  background: #202124;
}

.cocina_open_bg, .questbot_open_bg, .calculator_open_bg, .tictactoe_open_bg, .ps_app_open_bg, .evoting_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/cocina_images/bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.questbot_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/questbot_images/bg.png");
}

.calculator_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/calculator_images/bg.png");
}

.tictactoe_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/tictactoe_images/bg.png");
}

.ps_app_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/ps_images/bg.jpg");
}

.evoting_open_bg {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../assets/evoting_images/bg.png");
}

.title {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
}

.title span.proj_title {
  animation: fadeIn 1s;
  z-index: inherit;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .5);
  background-color: #3483d1;
  border-radius: 10px;
  color: white;
  padding: 18px;
  padding-right: 16px;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 10px;
  font-family: 'Inter', sans-serif;
}

.proj_buttons {
  position: absolute;
  margin: auto;
  margin-top: -100px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: auto;
  min-width: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.proj_buttons_label {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 10px;
  text-transform: uppercase;
}

.proj_buttons_label.active {
  color: rgba(255, 255, 255, 1);
}

#Description, #Preview, #Download{
  height: max-content;
}

#cont{
  position: relative;
  padding: 0 10%;
  text-align: center;
}

#tabs{
  position: sticky;
  z-index: 2;
  background-color: #202124!important;
  top: 0; /* required */
  padding: 2% 10%;
}

video{
  margin: auto;
}

.d-margin{
  margin: 8% 0;
}

.d-margin:first-child{
  padding-top: 0%;
}

.carousel-inner{
  background-color: rgba(255,255,255,.1);
  object-position: center;
}

.carousel-inner img {
  width: auto!important;
  max-height: 70vh;
  margin: auto;
  cursor: pointer;
}

.carousel-caption{
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  left: 0!important;
  right: 0!important;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: -1.3em;
}

.carousel-indicators{
  margin-bottom: 0!important;
}

.sub{
  color: white;
}

.carousel-inner:hover .carousel-caption{
  visibility: hidden;
}

.description_title {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.description_image, .ps_description_image {
  margin: 10px;
  display: inline-block;
  max-width: 400px;
  width: 60%;
  height: auto;
  border-radius: 10px;
  background-size: contain;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
  margin-bottom: 30px;
}

.ps_description_image {
  width: auto;
  max-height: 400px;
}

.description_image:hover, .ps_description_image:hover {
  opacity: .7;
}

.description_subtitle {
  width: 50%;
  word-break: normal;
  text-indent: 0px;
  margin: auto;
  padding: 0;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.download_container {
  background-image: url("../assets/images/git.png");
  margin: auto;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 13px;
  max-width: 400px;
  height: 50px;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 13px;
  padding-left: 5px;
  padding-bottom: 8px;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
  transition: ease transform .5s, ease height .5s;
  overflow: hidden;
  position: inherit;
  color: white;
}

.download_container:hover {
  height: 80px;
  transform: scale(1.1);
}

.dl_info {
  display: block;
  margin-top: 4px;
}

.download_container p {
  font-weight: normal;
  padding-top: 8px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.profile {
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .5);
  overflow-x: hidden;
  margin: 7px;
  display: inline-block;
  background-size: fill;
  background-color: red;
  width: 220px;
  height: 300px;
  vertical-align: middle;
  text-align: center;
}

.profile img {
  width: 100%;
  height: 200px;
  object-position: center;
  object-fit: cover;
}

.profile_image {
  margin-bottom: 15px;
}

.profile p {
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

p.job_distribution {
  font-size: 12px;
}

.img_preview {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.img_preview-content {
  margin: auto;
  display: block;
  height: 75%;
  max-height: 600px;
}

.img_preview-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 585px) {
  .proj_buttons_label {
    font-size: 10px;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .title span.proj_title {
    font-size: 15px;
    letter-spacing: 10px;
  }

  .description {
    padding: 25px;
    margin: 20px;
    margin-top: -60px
  }

  .description_subtitle {
    width: 80%;
  }

  .description_image {
    width: 80%;
  }

  .download_container {
    width: 70%;
    height: 27px;
  }

  .download_container:hover {
    height: 53px;
  }

  .img_preview-content {
    transform: translateY(30%);
    width: 90%;
    height: auto;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0) translateY(30%)
    }

    to {
      -webkit-transform: scale(1) translateY(30%)
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0) translateY(30%)
    }

    to {
      transform: scale(1) translateY(30%)
    }
  }
}
