.top_padding {
  height: 25px;
  width: 100%;
}

.tabs-cont{
  max-width: 40em;
  min-width: 50%;
  margin: auto;
}

.cont{
  border: 1px solid #0d6efd!important;
  border-radius: 7px;
  border-top-left-radius: 0;

  margin: auto;
  max-width: 40em;
  min-width: 50%;
  padding: 3em;
  height: auto;
  background-color: rgba(0,0,0,.3);

}

.nav-tabs-link{
  color: #0d6efd!important;
  margin: 0;
  background-color: rgba(0,0,0,.3)!important;
}

button:focus{
  outline: 0!important;
}

.nav-tabs-link.active{
  color: #e3e3e3!important;
  background-color: #0d6efd!important;
  border-color: #0d6efd!important;
}

.nav-tabs{
  border-bottom: 1px solid transparent!important;
}

.text-header{
  color: #e3e3e3;
  padding-bottom: 10px;
}

.container_1 {
  animation: ease transitionIn 1.3s;
  display: block;
  height: auto;
  padding: 0;
}

.contact_container {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 13px;
  width: 400px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
  transition: ease transform .5s, ease height .5s;
  overflow: hidden;
}

.contact_container:hover {
  height: 80px;
  transform: scale(1.1);
}

#email {
  background-image: url("../assets/contact_images/email.png");
  color: white;
}

#phone {
  background-image: url("../assets/contact_images/phone.png");
  color: white;
}

#fb {
  background-image: url("../assets/contact_images/fb.png");
  color: white;
}

#twitter {
  background-image: url("../assets/contact_images/twitter.png");
  color: white;
}

#linkedin {
  background-image: url("../assets/contact_images/linkedin.png");
  color: white;
}

a {
  font-weight: normal;
  padding-top: 8px;
  font-size: 15px;
  text-decoration: none;
  color: white !important;
}

.info {
  display: block;
  margin-top: 4px;
  text-decoration: none;
  color: white;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    padding-top: 300px;
  }

  to {
    opacity: 1;
    padding-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .contact_container {
    width: 70%;
  }

  .contact_container:hover {
    height: 53px;
  }
}
