@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

.nav {
  background: transparent !important;
}

.nav-link {
  font-size: 1em;
  margin: 0 .7em;
}

.nav-link-index {
  color: #2F9832 !important;
  font-size: .8em;
  text-align: center;
  padding: 1em 1.3em !important;
  border: 1px solid #2F9832;
  border-radius: 2em;
}

.nav-link-proj {
  font-size: 1.3em;
}

.nav-link-index:hover {
  background: #2F9832;
  color: white !important;
}

.margin {
  margin: 0 .5em;
}

.header_text_index {
  color: #cccccc;
  font-size: 40px;
  font-family: FredokaOne;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 7px 8px;
  width: auto;
}

@media screen and (max-width: 560px) {
  .header_text_index {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .header_text_index {
    font-size: 23px;
  }
}
