@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.top_padding {
  height: 50px;
  width: 100%;
}

/*Image properties*/
#img_display {
  object-fit: cover;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -40px;
  width: 95%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/*Remove margins and paddings of paragraph*/
p {
  margin: 0;
  padding: 0;
}

.container-proj {
  margin: auto;
}

.index_title {
  color: white;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/*Row 1 cards*/
.row_1 {
  display: inline-block;
  vertical-align: center;
  height: 300px;
  padding-left: 4px;
  width: 100%;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    padding-top: 300px;
  }

  to {
    opacity: 1;
    padding-top: 0px;
  }
}

/*Card 1/2/3 container*/
.card {
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 8%), 0 0 180px 0 rgb(0 0 0 / 8%);
  margin: 15px;
  margin-bottom: 70px;
  padding-bottom: 10px;
  transition: ease transform .2s;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  width: 330px;
  height: fit-content;
  color: black;
  background-color: #323538;
  overflow: visible;
}

/*Title style*/
.card_title {
  padding-top: 10px;
  text-align: center;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 15px;
  color: #cccccc;
}

/*Sub title style*/
.sub_title {
  font-size: 12px;
  font-family: Segoe UI;
  text-align: center;
  color: #cccccc
}

/*Description style*/
.s_desc p {
  font-family: Segoe UI;
  text-align: center;
  font-size: 13px;
  color: #cccccc
}

/*Programming Language style*/
.prog_language {
  font-family: 'Courier Prime', monospace;
}

/*Hover card 1*/
.card:hover {
  background-color: #2E9330;
  color: white;
  transform: scale(1.05);
}

.extra {
  height: 100px;
}

@media screen and (max-width: 380px) {
  #img_display {
    height: 190px;
  }

  .top_padding {
    height: 100px;
  }

  .row_1 {
    height: 270px;
  }

  .card {
    width: 300px;
  }

  /*Title style*/
  p.card_title {
    font-size: 12px;
  }

  /*Sub title style*/
  p.sub_title {
    font-size: 9px;
  }

  /*Description style*/
  .s_desc p {
    font-size: 10px;
  }
}
